<template>
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <p><slot></slot></p>
            </div>
        </div>
        <button class="modal-close" @click="$emit('close')" v-if="!important"></button>
    </div>
</template>
<script>
    export default {
        props: {
            'important': {
                default() {
                    return false;
                }
            }
        }
    };
</script>