.sidebar {
    display: flex;
    flex-grow: 1;
    background-image: linear-gradient(-67deg, #1d232a 0%, #282f37 100%);
    background-color: #1d232a;
    color: #fff;
}
.sidebar__channels {
    padding: 30px 20px;
    width: 100%;
    // background-image: linear-gradient(-67deg, #1d232a 0%, #282f37 100%);
}

.sidebar__title {
    /* Base text style */
    color: #fff;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    padding-left: 30px;
}


.channel__list {
    &--pushed {
        margin-top: 30px;
    }
}

.channel__item {
    &__link {
        font-size: 14px;
        font-weight: 400;
        padding: 10px 30px;
        color: #a0a4a7;
        display: block;
    }
}


.main {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    background-image: linear-gradient(180deg, #eceef2 0%, transparent 100%);
    padding: 50px 30px;
    overflow: auto;
}

.messages {
    width: 100%;

    &__list {
        &__item {
            &:after {
                content: '.';
                font-size: 0;
                display: table;
                width: 100%;
                clear: both;
            }
            background-color: #fff;
            border-radius: 4px;
            /* Base text style */
            color: #000;
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            padding: 20px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            min-width: 300px;
            box-shadow: 2px 2px 5px #d3d3d3;

        }    
    }
}

.container {
    &--center {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}