.channel__item {
    &__link {
        &--active, 
        &:hover,
        &:active,
        &:focus {
            /* Style for "selected s" */
            background-color: #404a53;
            border-radius: 4px;
            box-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.06);
            color: #fff;
        }
    }
}

.messages {
   
    &__list {
        &__item {
            &--active {
                background-color: #0084ff;;
                // float: right;
                color: #fff;
                .message__list__item__owner {
                    color: #fff;
                }
            }
        }
    }
}